@model string

<div class="form-group">
    @Html.LabelFor(model => model, new { @class = "col-lg-2 control-label" })
    <div class="col-lg-10">
        @Html.TextAreaFor(model => model, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m)
    </div>

</div>

